﻿@using System.Data
@{
    ViewBag.Title = "Школы";
    DataTable countries = ViewBag.countries;
}
<link href="~/Content/css/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
<div class="row s-mb_18">
    <form method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/newSchool.php">
        <div class="col-md-6">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-plus"></i> Новая школа
                    </div>
                    <div class="tools">
                        <a href="" class="collapse" title="Скрыть/Показать"></a>
                        <a href="" class="fullscreen" title="расширить"></a>
                        <a href="" class="remove" title="Убрать">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <label>Название школы</label>
                            <div class="input-icon s-mb_9">
                                <i class="fa fa-info-circle"></i>
                                <input name="name" type="text" class="form-control" placeholder="Название" />
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Страна</label>
                                    <select name="country" class="form-control">
                                        @{
                                            foreach (DataRow row in countries.Rows)
                                            {
                                                <option value="@row["name"]">@row["name"]</option>

                                            }

                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Город</label>
                                    <select name="city" class="form-control">
                                        @{
                                            DataTable city = ViewBag.city;

                                            foreach (DataRow row in city.Rows)
                                            {
                                                <option value="@row["name"]">@row["name"]</option>

                                            }

                                        }
                                        </select>
                                    </div>
                                </div>
                                <label>Описание краткое</label>
                                <textarea name="description_short" class="form-control s-mb_9 js-wysi"></textarea>
                                <div class="row s-mb_9">
                                    <div class="col-md-6">
                                        <label>Язык</label>
                                        <select name="language" class="form-control">
                                            @Html.Partial("PartialLangs")
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Тип</label>
                                        <select name="type" class="form-control">
                                            @Html.Partial("PartialschoolTypes")
                                        </select>
                                    </div>
                                </div>

                                <div class="row s-mb_9">
                                    <div class="col-md-6">
                                        <label>Цена</label>
                                        <input name="cost" type="text" class="form-control s-mb_9" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Валюта</label>
                                        <select data-bind="value:labelProvider, event:{change:setLabel}" name="costCurrency" class="form-control">
                                            @Html.Partial("PartialCurrencyTypes")
                                        </select>
                                        <input name="label" data-bind="value:label" type="hidden"/>
                                    </div>
                                </div>

                                <label>Фото (загружаемая фотография будет оптимизирована)</label>
                                <input name="image" type="file" class="form-control s-mb_18" />
                            </div>
                        </div>
                        <div class="form-actions">
                            <button data-bind="" type="submit" class="btn green">
                                <i class="fa fa-save"></i>&nbsp;Сохранить
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-pencil"></i> Подробное описание школы
                        </div>
                        <div class="tools">
                            <a href="" class="collapse" data-original-title="" title=""></a>
                            <a href="" class="fullscreen" title="расширить"></a>
                            <a href="" class="remove" data-original-title="" title="">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="form-group">
                                <div class="row s-mb_9">
                                    <div class="col-md-6">
                                        <label>Дата основания</label>
                                        <input name="schoolBirth" type="text" class="form-control s-mb_9" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Дата начала учебного года</label>
                                        <input name="schoolStartStudy" type="text" class="form-control s-mb_9" />
                                    </div>
                                </div>
                                <div class="row s-mb_9">
                                    <div class="col-md-4">
                                        <label>Возраст студентов</label>
                                        <input name="studentAge" type="text" class="form-control s-mb_9" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Средний возраст(лет)</label>
                                        <input name="studentAgeMiddle" type="number" class="form-control s-mb_9" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Студентов в кл.</label>
                                        <input name="studentsByClassRoom" type="number" class="form-control s-mb_9" />
                                    </div>
                                </div>
                                <div class="row s-mb_9">
                                    <div class="col-md-12">
                                        <label>Описание школы</label>
                                        <textarea name="description_long" class="js-wysi form-control s-h_min_200 s-mb_9"></textarea>
                                    </div>
                                </div>
                                <input class="css-checkbox" id="popular" name="popular" type="checkbox" />
                                <label class="css-checkbox-label" for="popular">Популярная школа</label>
                                <br/>
                                <input class="css-checkbox" id="visible" name="visible" type="checkbox" />
                                <label class="css-checkbox-label" for="visible">Школа видна</label>
                            </div>
                            <div class="form-group">
                                <div class="row s-mb_9">
                                    <div class="col-md-12">
                                        <label>Meta description</label>
                                        <textarea name="meta_description" class="form-control s-mb_9"></textarea>
                                    </div> 
                                    <div class="col-md-12">
                                        <label>Meta keywords</label>
                                        <textarea name="meta_keywords" class="form-control s-mb_9"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <label>title</label>
                                        <textarea name="title" class="form-control s-mb_9"></textarea>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row s-mb_9">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2>Редактирование школы</h2>
            <label><i class="fa fa-home s-mr_5"></i>Выберите школу</label>
            <select data-bind="options: items, optionsText: 'name', value: selectedItem, event:{change:updateWysiwygObservable}" class="form-control"></select>
        </div>
    </div>

    <!-- editing -->
    <div data-bind="if:items().length" class="row s-mb_18">
        <form method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/editSchool.php">
            <div class="col-md-6">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-pencil"></i> Основные данные
                        </div>
                        <div class="tools">
                            <a href="" class="collapse" title="Скрыть/Показать"></a>
                            <a href="" class="fullscreen" title="расширить"></a>
                            <a href="" class="remove" title="Убрать">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="form-group">
                                <label>Название школы</label>
                                <div class="input-icon s-mb_9">
                                    <i class="fa fa-info-circle"></i>
                                    <input data-bind="value:selectedItem().name, valueUpdate:'input'" name="edit-name" type="text" class="form-control" placeholder="Название" />
                                    <input data-bind="value:selectedItem().id" name="edit-id" type="hidden" />
                                </div>
                                <div class="row s-mb_9">
                                    <div class="col-md-6">
                                        <label>Страна</label>
                                        <select data-bind="value:selectedItem().country" name="edit-country" class="form-control">
                                            @*@Html.Partial("PartialCountries")*@
                                        @{
                                            foreach (DataRow row in countries.Rows)
                                            {
                                                <option value="@row["name"]">@row["name"]</option>

                                            }

                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Город</label>
                                    <select data-bind="value:selectedItem().city" name="edit-city" class="form-control">
                                        @*@Html.Partial("PartialCity")*@
                                        @{
                                           
                                            foreach (DataRow row in city.Rows)
                                            {
                                                <option value="@row["name"]">@row["name"]</option>

                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <label>Описание краткое</label><!--value:selectedItem().description_short-->
                                <textarea data-bind="wysiwyg:wysiwygObservable2, wysiwygConfig: {
                                            language: 'ru',plugins: [
                                                'advlist autolink lists link image charmap print preview anchor',
                                                'searchreplace visualblocks code fullscreen',
                                                'insertdatetime media table contextmenu paste'
                                            ],toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'}" name="edit-description_short" class="form-control s-mb_9"></textarea>
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Язык</label>
                                    <select data-bind="value:selectedItem().language" name="edit-language" class="form-control">
                                        @Html.Partial("PartialLangs")
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Тип</label>
                                    <select data-bind="value:selectedItem().type" name="edit-type" class="form-control">
                                        @Html.Partial("PartialschoolTypes")
                                    </select>
                                </div>
                            </div>

                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Цена</label>
                                    <input data-bind="value:selectedItem().cost" name="edit-cost" type="text" class="form-control s-mb_9" />
                                </div>
                                <div class="col-md-6">
                                    <label>Валюта</label>
                                    <select data-bind="value:selectedItem().costCurrency, event:{change:setLabelEdit}" name="edit-costCurrency" class="form-control">
                                        @Html.Partial("PartialCurrencyTypes")
                                    </select>
                                    <input name="edit-label" data-bind="value:editLabel" type="hidden" />
                                </div>
                            </div>

                            <label>Фото (загружаемая фотография будет оптимизирована)</label>
                                <input name="edit-image" type="file" class="form-control s-mb_18"/>
                                <div class="row">
                                    <label>Специализации</label>
                                    <div class="col-md-12">
                                        <!--ko foreach:specs-->
                                        <label class="s-display_b s-hover" data-bind="attr:{'for':$data.id}">
                                            <input data-bind="event:{'change':$root.bindSpec},attr:{'id':$data.id, name:$data.id}, value:$data.id,checked:$root.currentSpecs" type="checkbox" />
                                            <span data-bind="text:$data.name"></span>
                                        </label>
                                        <!--/ko-->
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green">
                            <i class="fa fa-save"></i>&nbsp;Сохранить
                        </button>
                        <a data-bind="attr:{href:('/School/galery/?' + selectedItem().id) }" class="btn green">
                            <i class="fa fa-upload"></i>&nbsp;Добавление фотографий в галерею
                        </a>
                        <a href="javascript:void(0);" data-bind="click:removeItem" class="btn blue">
                            <i class="fa fa-times"></i>&nbsp;Удалить
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-pencil"></i> Подробное описание школы
                    </div>
                    <div class="tools">
                        <a href="" class="collapse" data-original-title="" title=""></a>
                        <a href="" class="fullscreen" title="расширить"></a>
                        <a href="" class="remove" data-original-title="" title="">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Дата основания</label>
                                    <input data-bind="value:selectedItem().schoolBirth" name="edit-schoolBirth" type="text" class="form-control s-mb_9" />
                                </div>
                                <div class="col-md-6">
                                    <label>Дата начала учебного года</label>
                                    <input data-bind="value:selectedItem().schoolStartStudy" name="edit-schoolStartStudy" type="text" class="form-control s-mb_9" />
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-4">
                                    <label>Возраст студентов</label>
                                    <input data-bind="value:selectedItem().studentAge" name="edit-studentAge" type="text" class="form-control s-mb_9" />
                                </div>
                                <div class="col-md-4">
                                    <label>Средний возраст(лет)</label>
                                    <input data-bind="value:selectedItem().studentAgeMiddle" name="edit-studentAgeMiddle" type="number" class="form-control s-mb_9" />
                                </div>
                                <div class="col-md-4">
                                    <label>Студентов в кл.</label>
                                    <input data-bind="value:selectedItem().studentsByClassRoom" name="edit-studentsByClassRoom" type="number" class="form-control s-mb_9" />
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-12">
                                    <label>Описание школы</label>
                                    <textarea data-bind="wysiwyg:wysiwygObservable, wysiwygConfig: {
                                            language: 'ru',plugins: [
                                                'advlist autolink lists link image charmap print preview anchor',
                                                'searchreplace visualblocks code fullscreen',
                                                'insertdatetime media table contextmenu paste'
                                            ],toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'}" name="edit-description_long" class="s-mb_9 form-control s-h_min_200"></textarea>
                                </div>
                            </div>
                            <input data-bind="checked:!!parseInt(selectedItem().popular)" class="css-checkbox" id="edit-popular" name="edit-popular" type="checkbox" />
                            <label class="css-checkbox-label" for="edit-popular">Популярная школа</label>
                            <br/>
                            <input data-bind="checked:!!parseInt(selectedItem().visible)" class="css-checkbox" id="edit-visible" name="edit-visible" type="checkbox" />
                            <label class="css-checkbox-label" for="edit-visible">Школа видна</label>
                            
                            <div class="form-group">
                                <div class="row s-mb_9">
                                    <div class="col-md-12">
                                        <label>Meta description</label>
                                        <textarea data-bind="value:selectedItem().meta_description" name="edit-meta_description" class="form-control s-mb_9"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Meta keywords</label>
                                        <textarea data-bind="value:selectedItem().meta_keywords" name="edit-meta_keywords" class="form-control s-mb_9"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <label>title</label>
                                        <textarea data-bind="value:selectedItem().title" name="edit-title" class="form-control s-mb_9"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- editing -->
@section scripts{
    <script type="text/javascript" src="~/Content/js/knockout.js"></script>
    <script type="text/javascript" src="~/Content/js/utils.js"></script>
    <script type="text/javascript" src="~/Content/js/tmce/tinymce.min.js"> </script>
    <script type="text/javascript" src="~/Content/js/tmce/jquery.tinymce.min.js"> </script>
    <script type="text/javascript" src="~/Content/js/wysiwyg.js"> </script>
    <script type="text/javascript" src="~/Content/js/models/editModel.js"></script>
    <script type="text/javascript">
        EC.getData("school", "all");
        
        tinymce.init({
            selector: '.js-wysi', theme: "modern", language: "ru",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });

    </script>
}