﻿@using System.Data
@{
    ViewBag.Title = "Курсы";
}
<link href="~/Content/css/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css" />
<div class="row s-mb_18">
    <form method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/newCourse.php">
        <div class="col-md-6">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-plus"></i> Новый курс
                    </div>
                    <div class="tools">
                        <a href="" class="collapse" title="Скрыть/Показать"></a>
                        <a href="" class="fullscreen" title="расширить"></a>
                        <a href="" class="remove" title="Убрать">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <label>Название курса</label>
                            <div class="input-icon s-mb_9">
                                <i class="fa fa-info-circle"></i>
                                <input name="name" type="text" class="form-control" placeholder="Название" />
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Страна</label>
                                    <select name="country" class="form-control">
                                        @*@Html.Partial("PartialCountries")*@
                                        @{
                                            DataTable countries = ViewBag.countries;

                                            foreach (DataRow row in countries.Rows)
                                            {
                                                <option value="@row["name"]">@row["name"]</option>

                                            }

                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Язык</label>
                                    <select name="language" class="form-control">
                                        @Html.Partial("PartialLangs")
                                    </select>
                                </div>
                            </div>
                            <label>Описание</label>
                            <textarea name="description" class="form-control s-mb_9 js-wysi"></textarea>
                            <div class="row s-mb_9">
                                <div class="col-md-12">
                                    <label>Тип</label>
                                    <select name="type" class="form-control">
                                        @Html.Partial("PartialCourseTypes")
                                    </select>
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-12">
                                    <div class="clear">Добавить школу</div>
                                    <select data-bind="options: schools, optionsText: 'name', value: selectedSchool, optionsCaption:'Выберите...'" class="form-control s-mb_5"></select>
                                    <div class="clear s-mb_9">
                                        <button data-bind="click:addToList" class="s-float_r btn btn-xs green">
                                            <i class="fa fa-list"></i>&nbsp;добавить в список
                                        </button>
                                    </div>
                                    <div class="s-mb_9"><strong>Добавленные</strong>:</div>
                                    <ol data-bind="foreach:bindListView">
                                        <li>
                                            <span class="s-mr_10" data-bind="text:$data.name"></span>
                                            <i data-bind="click:$root.removeBindFromCreate" class="fa fa-times"></i>
                                        </li>
                                    </ol>
                                    <input name="bindings" type="hidden" data-bind="value:bindList" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button data-bind="" type="submit" class="btn green">
                            <i class="fa fa-save"></i>&nbsp;Сохранить
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-pencil"></i> Детали
                    </div>
                    <div class="tools">
                        <a href="" class="collapse" data-original-title="" title=""></a>
                        <a href="" class="fullscreen" title="расширить"></a>
                        <a href="" class="remove" data-original-title="" title="">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="row s-mb_9">
                                <div class="col-md-4">
                                    <label>Цена</label>
                                    <input name="cost" type="number" class="form-control s-mb_9" />
                                </div>
                                <div class="col-md-4">
                                    <label>Валюта</label>
                                    <select data-bind="value:labelProvider, event:{change:setLabel}" name="costCurrency" class="form-control">
                                        @Html.Partial("PartialCurrencyTypes")
                                    </select>
                                    <input name="label" data-bind="value:label" type="hidden" />
                                </div>
                                <div class="col-md-4">
                                    <label>Кол-во недель(от)</label>
                                    <input name="weeks" type="number" class="form-control s-mb_9" />
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Возростная группа</label>
                                    <select name="age" class="form-control s-mb_9">
                                        @Html.Partial("PartialAges")
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Человек в группе</label>
                                    <input name="studentsCount" type="number" class="form-control s-mb_9" />
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Начало занятий</label>
                                    <input name="startCourse" type="text" class="form-control s-mb_9" />
                                </div>
                                <div class="col-md-6">
                                    <label>Уровень владения языком</label>
                                    <select name="languageLevel" class="form-control s-mb_9">
                                        @Html.Partial("PartialLangLevel")
                                    </select>
                                </div>
                            </div>
                            <input class="css-checkbox" id="best" name="best" type="checkbox" />
                            <label class="css-checkbox-label" for="best">Лучший курс</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row s-mb_9">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h2>Редактирование курса</h2>
        <label><i class="fa fa-home s-mr_5"></i>Выберите курс</label>
        <select data-bind="options: items, optionsText: 'name', value: selectedItem, event:{change:getBindeds}" class="form-control"></select>
    </div>
</div>

<!-- editing -->
<div data-bind="if:items().length" class="row s-mb_18">
    <form method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/editCourse.php">
        <div class="col-md-6">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-pencil"></i> Основные данные
                    </div>
                    <div class="tools">
                        <a href="" class="collapse" title="Скрыть/Показать"></a>
                        <a href="" class="fullscreen" title="расширить"></a>
                        <a href="" class="remove" title="Убрать">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <label>Название курса</label>
                            <div class="input-icon s-mb_9">
                                <i class="fa fa-info-circle"></i>
                                <input data-bind="value:selectedItem().name, valueUpdate:'input'" name="edit-name" type="text" class="form-control" placeholder="Название" />
                                <input data-bind="value:selectedItem().id" name="edit-id" type="hidden" />
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Страна</label>
                                    <select data-bind="value:selectedItem().country" name="edit-country" class="form-control">
                                        @*@Html.Partial("PartialCountries")*@
                                        @{
                                            foreach (DataRow row in countries.Rows)
                                            {
                                                <option value="@row["name"]">@row["name"]</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Язык</label>
                                    <select data-bind="value:selectedItem().language" name="edit-language" class="form-control">
                                        @Html.Partial("PartialLangs")
                                    </select>
                                </div>
                            </div>
                            <label>Описание</label>
                            <textarea data-bind="wysiwyg:wysiwygObservable,wysiwygConfig: {
                                            language: 'ru',plugins: [
                                                'advlist autolink lists link image charmap print preview anchor',
                                                'searchreplace visualblocks code fullscreen',
                                                'insertdatetime media table contextmenu paste'
                                            ],toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'}" name="edit-description" class="form-control s-mb_9"></textarea><!--value:selectedItem().description-->
                            <div class="row s-mb_9">
                                <div class="col-md-12">
                                    <label>Тип</label>
                                    <select data-bind="value:selectedItem().type" name="edit-type" class="form-control">
                                        @Html.Partial("PartialCourseTypes")
                                    </select>
                                </div>
                            </div>

                            <div class="row s-mb_9">
                                <div class="col-md-12">
                                    <div class="clear">Добавить школу</div>
                                    <select data-bind="options: schools, optionsText: 'name', value: selectedSchoolAddBinding, optionsCaption:'Выберите...'" class="form-control s-mb_5"></select>
                                    <div class="clear s-mb_9">
                                        <button data-bind="click:extendBindings" class="s-float_r btn btn-xs green">
                                            <i class="fa fa-list"></i>&nbsp;добавить в список
                                        </button>
                                    </div>
                                    <div class="s-mb_9"><strong>Привязанные</strong>:</div>
                                    <ol data-bind="foreach:bindedSchools">
                                        <li>
                                            <span class="s-mr_10" data-bind="text:$data.name"></span>
                                            <i data-bind="click:$root.removeBind" class="fa fa-times"></i>
                                        </li>
                                    </ol>
                                    <input name="bindings" type="hidden" data-bind="value:bindListToSendToServer" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green">
                            <i class="fa fa-save"></i>&nbsp;Сохранить
                        </button>
                        <a href="javascript:void(0);" data-bind="click:removeItem" class="btn blue">
                            <i class="fa fa-times"></i>&nbsp;Удалить
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-pencil"></i> Детали
                    </div>
                    <div class="tools">
                        <a href="" class="collapse" data-original-title="" title=""></a>
                        <a href="" class="fullscreen" title="расширить"></a>
                        <a href="" class="remove" data-original-title="" title="">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="row s-mb_9">
                                <div class="col-md-4">
                                    <label>Цена</label>
                                    <input data-bind="value:selectedItem().cost" name="edit-cost" type="number" class="form-control s-mb_9" />
                                </div>
                                <div class="col-md-4">
                                    <label>Валюта</label>
                                    <select data-bind="value:selectedItem().costCurrency, event:{change:$root.setLabelEdit}" name="edit-costCurrency" class="form-control">
                                        @Html.Partial("PartialCurrencyTypes")
                                    </select>
                                    <input name="edit-label" data-bind="value:editLabel" type="hidden" />
                                </div>
                                <div class="col-md-4">
                                    <label>Кол-во недель(от)</label>
                                    <input data-bind="value:selectedItem().weeks" name="edit-weeks" type="number" class="form-control s-mb_9" />
                                </div>
                            </div>

                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Возростная группа</label>
                                    <select data-bind="value:selectedItem().age" name="edit-age" class="form-control s-mb_9">
                                        @Html.Partial("PartialAges")
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Человек в группе</label>
                                    <input data-bind="value:selectedItem().studentsCount" name="edit-studentsCount" type="number" class="form-control s-mb_9" />
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Начало занятий</label>
                                    <input data-bind="value:selectedItem().startCourse" name="edit-startCourse" type="text" class="form-control s-mb_9" />
                                </div>
                                <div class="col-md-6">
                                    <label>Уровень владения языком</label>
                                    <select data-bind="value:selectedItem().languageLevel" name="edit-languageLevel" class="form-control s-mb_9">
                                        @Html.Partial("PartialLangLevel")
                                    </select>
                                </div>
                            </div>

                            <input data-bind="checked:!!parseInt(selectedItem().best)" class="css-checkbox" id="edit-best" name="edit-best" type="checkbox" />
                            <label class="css-checkbox-label" for="edit-best">Лучший курс</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<!-- editing -->
@section scripts{
    <script type="text/javascript" src="~/Content/js/knockout.js"></script>
    <script type="text/javascript" src="~/Content/js/underscore.js"></script>
    <script type="text/javascript" src="~/Content/js/utils.js"></script>
    <script type="text/javascript" src="~/Content/js/tmce/tinymce.min.js"> </script>
    <script type="text/javascript" src="~/Content/js/tmce/jquery.tinymce.min.js"> </script>
    <script type="text/javascript" src="~/Content/js/wysiwyg.js"> </script>
    <script type="text/javascript" src="~/Content/js/models/editModel.js"></script>
    <script type="text/javascript">
        EC.getData("course", "all");
        tinymce.init({
            selector: '.js-wysi', theme: "modern", language: "ru",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
        });
    </script>
}