﻿    <option value="bisnes">Специализированные курсы</option>
    <option value="higher">Высшее образование</option>
    <option value="holiday">Каникулярные программы</option>
    <option value="individual">Круглогодичные курсы</option>
    <option value="refresher">Курсы повышения квалификации</option>
    <option value="collegepreparation">Подготовка к университету</option>
    <option value="exampreparation">Подготовка к сдаче экзаменов</option>
    <option value="parentchild">Курсы для детей и родителей</option>
    <option value="secondary">Среднее образование</option>
    <option value="language">Языковые курсы</option>
