﻿<option value="Любой">Любой</option>
<option value="Starter">Starter</option>
<option value="Elementary">Elementary</option>
<option value="Pre-intermediate">Pre-intermediate</option>
<option value="Intermediate">Intermediate</option>
<option value="Upper intermediate">Upper intermediate</option>
<option value="Advanced">Advanced</option>