﻿@{
    ViewBag.Title = "Обучение за рубежом";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div id="addressPie"></div>
    </div>
</div>

<!-- editing -->
@section scripts{
    <script type="text/javascript" src="~/Content/js/knockout.js"></script>
    <script type="text/javascript" src="~/Content/js/utils.js"></script>
    <script src="~/Content/js/underscore.js" type="text/javascript"></script>
    <script src="~/Content/js/highcharts.js" type="text/javascript"></script>
    <script src="~/Content/js/highcharts-3d.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/js/models/homeModel.js"></script>
}
