﻿@{
    ViewBag.Title = "Страны";
}

<div class="row s-mb_18">
    <div class="col-md-6">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-pencil"></i> Добавление страны
                </div>
                <div class="tools">
                    <a href="" class="collapse" title="Скрыть/Показать"></a>
                    <a href="" class="fullscreen" title="расширить"></a>
                    <a href="" class="remove" title="Убрать">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/newCountry.php">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label><i class="fa fa-home s-mr_5"></i>Название страны</label>
                                    <input name="name" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>seo text</label>
                                    <textarea name="seo" class="form-control js-wysi"></textarea>
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>metakeywords</label>
                                    <textarea name="metakeywords" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>metadescription</label>
                                    <textarea name="metadescription" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>title</label>
                                    <textarea name="title" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-12">
                                    <label>Фото</label>
                                    <input name="image" type="file" class="form-control s-mb_18" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green">
                            <i class="fa fa-save"></i>&nbsp;Сохранить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-pencil"></i> Редактирование страны
                </div>
                <div class="tools">
                    <a href="" class="collapse" title="Скрыть/Показать"></a>
                    <a href="" class="fullscreen" title="расширить"></a>
                    <a href="" class="remove" title="Убрать">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/editCountry.php">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label><i class="fa fa-home s-mr_5"></i>Выберите страну</label>
                                    <select data-bind="options: items, optionsText: 'name', value: selectedItem, event:{change:updateWysiwygObservable}" class="form-control"></select>
                                    <input data-bind="value:selectedItem().id" name="edit-id" type="hidden" />
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>seo text</label>
                                    <textarea data-bind="wysiwyg:wysiwygObservable, wysiwygConfig: {
                                            language: 'ru',plugins: [
                                                'advlist autolink lists link image charmap print preview anchor',
                                                'searchreplace visualblocks code fullscreen',
                                                'insertdatetime media table contextmenu paste'
                                            ],toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'}" name="edit-seo" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>metakeywords</label>
                                    <textarea data-bind="value:selectedItem().metakeywords" name="edit-metakeywords" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>metadescription</label>
                                    <textarea data-bind="value:selectedItem().metadescription" name="edit-metadescription" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>title</label>
                                    <textarea data-bind="value:selectedItem().title" name="edit-title" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-12">
                                    <label>Фото</label>
                                    <input name="edit-image" type="file" class="form-control s-mb_18" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green">
                            <i class="fa fa-save"></i>&nbsp;Сохранить
                        </button>
                        <a href="javascript:void(0);" data-bind="click:removeItem" class="btn blue">
                            <i class="fa fa-times"></i>&nbsp;Удалить
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- editing -->
@section scripts{
    <script type="text/javascript" src="~/Content/js/knockout.js"></script>
    <script type="text/javascript" src="~/Content/js/utils.js"></script>
    <script type="text/javascript" src="~/Content/js/tmce/tinymce.min.js"> </script>
    <script type="text/javascript" src="~/Content/js/tmce/jquery.tinymce.min.js"> </script>
    <script type="text/javascript" src="~/Content/js/wysiwyg.js"> </script>
    <script type="text/javascript" src="~/Content/js/models/editModel.js"></script>
    <script type="text/javascript">
        EC.getData("countries", "all");



    tinymce.init({
        selector: '.js-wysi', theme: "modern", language: "ru",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
    </script>
    }
