﻿@using System.Data
@{
    ViewBag.Title = "Index";
}

<h2>Подписки</h2>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>email</th>
        </tr>        
    </thead>
    <tbody>
        @{
            DataTable subscription = ViewBag.subs;

            foreach (DataRow row in subscription.Rows)
            {
                <tr>
                    <td>@row["id"]</td>
                    <td>@row["name"]</td>
                    <td>@row["email"]</td>
                </tr>

            }

        }
       
    </tbody>
</table>
