﻿@{
    ViewBag.Title = "О нас";
}

    <div class="row s-mb_18">

        <div class="col-md-6">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-home"></i> Контактная информация
                    </div>
                    <div class="tools">
                        <a href="" class="collapse" title="Скрыть/Показать"></a>
                        <a href="" class="fullscreen" title="расширить"></a>
                        <a href="" class="remove" title="Убрать">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">

                    <div class="form-body">
                        <div class="form-group">
                            <label>Адрес, итд</label>
                            <textarea data-bind="wysiwyg:address,wysiwygConfig: {
                                            language: 'ru',plugins: [
                                                'advlist autolink lists link image charmap print preview anchor',
                                                'searchreplace visualblocks code fullscreen',
                                                'insertdatetime media table contextmenu paste'
                                            ],toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'}" name="address" class="js-wysi form-control s-h_min_200 s-mb_9"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button data-bind="click:save" class="btn green">
                            <i class="fa fa-save"></i>&nbsp;Сохранить
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-home"></i> О Компании
                    </div>
                    <div class="tools">
                        <a href="" class="collapse" title="Скрыть/Показать"></a>
                        <a href="" class="fullscreen" title="расширить"></a>
                        <a href="" class="remove" title="Убрать">
                        </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <label>Контент</label>
                            <textarea data-bind="wysiwyg:about,wysiwygConfig: {
                                            language: 'ru',plugins: [
                                                'advlist autolink lists link image charmap print preview anchor',
                                                'searchreplace visualblocks code fullscreen',
                                                'insertdatetime media table contextmenu paste'
                                            ],toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'}" name="about" class="js-wysi form-control s-h_min_200 s-mb_9"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- editing -->
@section scripts{
    <script type="text/javascript" src="~/Content/js/knockout.js"></script>
    <script type="text/javascript" src="~/Content/js/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="~/Content/js/utils.js"></script>
    <script type="text/javascript" src="~/Content/js/tmce/tinymce.min.js"> </script>
    <script type="text/javascript" src="~/Content/js/tmce/jquery.tinymce.min.js"> </script>
    <script type="text/javascript" src="~/Content/js/wysiwyg.js"> </script>
    <script type="text/javascript" src="~/Content/js/models/aboutModel.js"></script>
    <script type="text/javascript">
        EC.getData("about");
        //tinymce.init({ selector: '.js-wysi', theme: "modern", language: "ru" });
    </script>
}
