﻿@using System.Data
@{
    ViewBag.Title = "Отзывы";
}

<div class="row s-mb_18">

    <div class="col-md-6">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i> Новая запись
                </div>
                <div class="tools">
                    <a href="" class="collapse" title="Скрыть/Показать"></a>
                    <a href="" class="fullscreen" title="расширить"></a>
                    <a href="" class="remove" title="Убрать">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/newReview.php">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Автор</label>
                                    <input name="author" type="text" class="form-control s-mb_9" />
                                </div>
                            </div>
                            <label>Школа</label>
                            <div class="s-mb_9">
                                <select name="name" class="form-control s-mb_5">
                                    <!--ko foreach: schools -->
                                    <option data-bind="value:$data.name, text:name"></option>
                                    <!-- /ko -->
                                </select>
                            </div>
                            <label>Описание краткое</label>
                            <textarea name="description" class="form-control s-mb_9"></textarea>
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Страна</label>
                                    <select name="country" class="form-control">
                                        @{
                                            DataTable countries = ViewBag.countries;

                                            foreach (DataRow row in countries.Rows)
                                            {
                                                <option value="@row["name"]">@row["name"]</option>

                                            }

                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Город</label>
                                    <select name="city" class="form-control">
                                        @{
                                            DataTable city = ViewBag.city;

                                            foreach (DataRow row in city.Rows)
                                            {
                                                <option value="@row["name"]">@row["name"]</option>

                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Дата</label>
                                    <input name="date" type="text" class="form-control s-mb_9" />
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-3">
                                    <label>обучение</label>
                                    <input name="study" class="form-control" type="number" />
                                </div>
                                <div class="col-md-3">
                                    <label>инфраструктура</label>
                                    <input name="infra" class="form-control" type="number" />
                                </div>
                                <div class="col-md-3">
                                    <label>мероприятия</label>
                                    <input name="activ" class="form-control" type="number" />
                                </div>
                                <div class="col-md-3">
                                    <label>цена/качество</label>
                                    <input name="cost_q" class="form-control" type="number" />
                                </div>
                            </div>
                            <label>Описание полное</label>
                            <textarea name="description_full" class="js-wysi form-control s-h_min_200 s-mb_9"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button data-bind="" type="submit" class="btn green">
                            <i class="fa fa-save"></i>&nbsp;Сохранить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div data-bind="if:items().length" class="col-md-6">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-pencil"></i> Редактирование записи
                </div>
                <div class="tools">
                    <a href="" class="collapse" title="Скрыть/Показать"></a>
                    <a href="" class="fullscreen" title="расширить"></a>
                    <a href="" class="remove" title="Убрать">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/editReview.php">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label><i class="fa fa-home s-mr_5"></i>Выберите запись</label>
                                    <select data-bind="options: items, optionsText: 'name', value: selectedItem, event:{change:updateWysiwygObservable}" class="form-control"></select>
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Автор</label>
                                    <input data-bind="value:selectedItem().author" name="edit-author" type="text" class="form-control s-mb_9" />
                                </div>
                            </div>
                            <label>Школа</label>
                            <div class="input-icon s-mb_9">
                                <div class="s-mb_9">
                                    <select name="edit-name" class="form-control s-mb_5">
                                        <!--ko foreach: schools -->
                                        <option data-bind="value:$data.name, text:name"></option>
                                        <!-- /ko -->
                                    </select>
                                </div>
                                <input data-bind="value:selectedItem().id" name="edit-id" type="hidden" />
                            </div>
                            <label>Описание краткое</label>
                            <textarea data-bind="value:selectedItem().description" name="edit-description" class="form-control s-mb_9"></textarea>
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Страна</label>
                                    <select data-bind="value:selectedItem().country" name="edit-country" class="form-control">
                                        @{
                                            foreach (DataRow row in countries.Rows)
                                            {
                                                <option value="@row["name"]">@row["name"]</option>

                                            }

                                        }
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Город</label>
                                    <select data-bind="value:selectedItem().city" name="edit-city" class="form-control">
                                        @{

                                            foreach (DataRow row in city.Rows)
                                            {
                                                <option value="@row["name"]">@row["name"]</option>

                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Дата</label>
                                    <input data-bind="value:selectedItem().date" name="edit-date" type="text" class="form-control s-mb_9" />
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-3">
                                    <label>обучение</label>
                                    <input data-bind="value:selectedItem().study, valueUpdate:'input'" name="edit-study" class="form-control" type="number" />
                                </div>
                                <div class="col-md-3">
                                    <label>инфраструктура</label>
                                    <input data-bind="value:selectedItem().infra, valueUpdate:'input'" name="edit-infra" class="form-control" type="number" />
                                </div>
                                <div class="col-md-3">
                                    <label>мероприятия</label>
                                    <input data-bind="value:selectedItem().activ, valueUpdate:'input'" name="edit-activ" class="form-control" type="number" />
                                </div>
                                <div class="col-md-3">
                                    <label>цена/качество</label>
                                    <input data-bind="value:selectedItem().cost_q, valueUpdate:'input'" name="edit-cost_q" class="form-control" type="number" />
                                </div>
                            </div>
                            <label>Описание полное</label>
                            <textarea data-bind="wysiwyg:wysiwygObservable" name="edit-description_full" class="form-control s-h_min_200 s-mb_9"></textarea>

                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green">
                            <i class="fa fa-save"></i>&nbsp;Сохранить
                        </button>
                        <a href="javascript:void(0);" data-bind="click:removeItem" class="btn blue">
                            <i class="fa fa-times"></i>&nbsp;Удалить
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- editing -->
@section scripts{
    <script type="text/javascript" src="~/Content/js/knockout.js"></script>
    <script type="text/javascript" src="~/Content/js/utils.js"></script>
    <script type="text/javascript" src="~/Content/js/tmce/tinymce.min.js"> </script>
    <script type="text/javascript" src="~/Content/js/tmce/jquery.tinymce.min.js"> </script>
    <script type="text/javascript" src="~/Content/js/wysiwyg.js"> </script>
    <script type="text/javascript" src="~/Content/js/models/editModel.js"></script>
    <script type="text/javascript">
        EC.getData("review", "all");
        tinymce.init({ selector: '.js-wysi', theme: "modern", language: "ru" });
    </script>
}
