﻿@{
    ViewBag.Title = "Редактирование разделов";
}

<div class="row s-mb_18">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-pencil"></i> Редактирование раздела
                </div>
                <div class="tools">
                    <a href="" class="collapse" title="Скрыть/Показать"></a>
                    <a href="" class="fullscreen" title="расширить"></a>
                    <a href="" class="remove" title="Убрать">
                    </a>
                </div>
            </div>
            <div data-bind="if:items().length" class="portlet-body form">
                <form method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/editPages.php">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label><i class="fa fa-home s-mr_5"></i>Выберите раздел</label>
                                    <select data-bind="options: items, optionsText: 'nameStr', value: selectedItem, event:{change:updateWysiwygObservable}" class="form-control"></select>
                                    <input data-bind="value:selectedItem().id" name="edit-id" type="hidden" />
                                    <input data-bind="value:selectedItem().name" name="edit-name" type="hidden" />
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>Название города</label>
                                    <textarea data-bind="wysiwyg:wysiwygObservable,wysiwygConfig: {
                                            language: 'ru',plugins: [
                                                'advlist autolink lists link image charmap print preview anchor',
                                                'searchreplace visualblocks code fullscreen',
                                                'insertdatetime media table contextmenu paste'
                                            ],toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'}" name="edit-description" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green">
                            <i class="fa fa-save"></i>&nbsp;Сохранить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- editing -->
@section scripts{
<script type="text/javascript" src="~/Content/js/knockout.js"></script>
<script type="text/javascript" src="~/Content/js/utils.js"></script>
<script type="text/javascript" src="~/Content/js/tmce/tinymce.min.js"> </script>
<script type="text/javascript" src="~/Content/js/tmce/jquery.tinymce.min.js"> </script>
<script type="text/javascript" src="~/Content/js/wysiwyg.js"> </script>
<script type="text/javascript" src="~/Content/js/models/editModel.js"></script>
    <script type="text/javascript">
        EC.getData("pages", "all");
    </script>
}
