﻿<!DOCTYPE html>
<!--[if IE 7]> <html xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd" xmlns:p="tapestry:parameter" class="ie7 no-js"> <![endif]-->
<!--[if IE 8]> <html xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd" xmlns:p="tapestry:parameter" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd" xmlns:p="tapestry:parameter" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd" xmlns:p="tapestry:parameter" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="HandheldFriendly" content="True" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10,chrome=1" />
    <!--[if IE]>
        <meta http-equiv="imagetoolbar" content="no"/>
        <meta http-equiv="MSThemeCompatible" content="no"/>
    <![endif]-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <meta content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" name="SKYPE_TOOLBAR" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/Content/css/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/css/login-soft.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Content/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/Content/css/themes/darkblue.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/images/favicon.ico" rel="icon" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
    @RenderBody()
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!-- \\\script section\\\ -->


    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Content/js/jquery.backstretch.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/js/metronic.js" type="text/javascript"></script>
    <script src="~/Content/js/login-soft.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        $(document).ready(function () {
            Metronic.init(); // init metronic core components
            Login.init();
            // init background slide images
            $.backstretch([
                        "/Content/images/login/1.jpg",
                        "/Content/images/login/2.jpg",
                        "/Content/images/login/3.jpg",
                        "/Content/images/login/4.jpg"
            ], {
                fade: 1000,
                duration: 8000
            }
            );
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>