﻿<li class="start active open">
    <a href="javascript:;">
        <i class="icon-home"></i>
        <span class="title">Контент</span>
        <span class="selected"></span>
        <span class="arrow open"></span>
    </a>
    <ul class="sub-menu">
        <li class="open">
            <a href="javascript:;">
                <i class="icon-login"></i>
                <span class="title">Школы</span>
                <span class="arrow open"></span>
            </a>
            <ul class="sub-menu" style="display: block;">
                <li>
                    <a href="@Url.Action("index", "School")">
                        <i class="icon-pencil"></i>
                        Редактировать
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index", "Spec")">
                        <i class="icon-pencil"></i>
                        Специализации
                    </a>
                </li>
            </ul>
        </li>
        <li class="open">
            <a href="javascript:;">
                <i class="icon-logout"></i>
                <span class="title">Курсы</span>
                <span class="arrow open"></span>
            </a>
            <ul class="sub-menu" style="display: block;">
                <li>
                    <a href="@Url.Action("index", "Course")">
                        <i class="icon-pencil"></i>
                        Редактировать
                    </a>
                </li>
            </ul>
        </li>
        <!--<li class="open">
            <a href="javascript:;">
                <i class="icon-login"></i>
                <span class="title">Стажировка</span>
                <span class="arrow open"></span>
            </a>
            <ul class="sub-menu" style="display: block;">
                <li>
                    <a href="@Url.Action("index", "group")">
                        <i class="icon-users"></i>
                        Собрать свою группу
                    </a>
                </li>
            </ul>
        </li>-->
        <li>
            <a href="@Url.Action("Index", "blog")">
                <i class="icon-calculator"></i>
                <span class="title">Блог</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "about")">
                <i class="icon-bar-chart"></i>
                <span class="title">О нас</span>
            </a>
        </li>
        <!--<li class="open">
            <a href="@Url.Action("Index", "help")">
                <i class="icon-bar-chart"></i>
                <span class="title">Помощь</span>
            </a>
        </li>
        <li class="open">
            <a href="@Url.Action("Index", "agency")">
                <i class="icon-bar-chart"></i>
                <span class="title">Агентствам</span>
            </a>
        </li>-->
        <li>
            <a href="@Url.Action("Index", "countries")">
                <i class="icon-bar-chart"></i>
                <span class="title">Страны</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Review")">
                <i class="icon-speech"></i>
                <span class="title">Отзывы</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "city")">
                <i class="icon-home"></i>
                <span class="title">Города</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "pages")">
                <i class="icon-home"></i>
                <span class="title">Описание разделов</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Subscribe")">
                <i class="icon-home"></i>
                <span class="title">Подписки</span>
            </a>
        </li>
        <!--
        <li class="open">
            <a href="javascript:;">
                <i class="icon-logout"></i>
                <span class="title">Учителям</span>
                <span class="arrow open"></span>
            </a>
            <ul class="sub-menu" style="display: block;">
                <li>
                    <a href="@Url.Action("index", "Сooperation")">
                        <i class="icon-list"></i>
                        Сотрудничество
                    </a>
                </li>
            </ul>
        </li>-->
    </ul>
</li>