﻿<option value="Английский">Английский</option>
<option value="Испанский">Испанский</option>
<option value="Итальянский">Итальянский</option>
<option value="Китайский">Китайский</option>
<option value="Корейский">Корейский</option>
<option value="Немецкий">Немецкий</option>
<option value="Французский">Французский</option>
<option value="Японский">Японский</option>
<option value="Чешский">Чешский</option>
<option value="Греческий">Греческий</option>