﻿<option value="Австралия">Австралия</option>
<option value="Великобритания">Великобритания</option>
<option value="Германия">Германия</option>
<option value="Голландия">Голландия</option>
<option value="Ирландия">Ирландия</option>
<option value="Испания">Испания</option>
<option value="Италия">Италия</option>
<option value="Канада">Канада</option>
<option value="Кипр">Кипр</option>
<option value="Китай">Китай</option>
<option value="Коста-Рика">Коста-Рика</option>
<option value="Малайзия">Малайзия</option>
<option value="Мальта">Мальта</option>
<option value="Россия">Россия</option>
<option value="Сингапур">Сингапур</option>
<option value="США">США</option>
<option value="Франция">Франция</option>
<option value="Чехия">Чехия</option>
<option value="Швейцария">Швейцария</option>
<option value="ЮАР">ЮАР</option>
<option value="Южная Корея">Южная Корея</option>
<option value="Япония">Япония</option>